.card {
  width: 300px;
  border: 1px solid lightblue;
  padding: 14px;
  border-radius: 10px;
}
.card img {
  width: 100%;
}
.data {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
